.header {
    position: absolute;
    width: 280px;
    height: 124px;
    left: 0px;
    top: 0px;
    background: #0e6c94;
    border-radius: 0px 0px 75px 75px;
  }
  .header h1 {
    position: absolute;
    width: 280px;
    height: 124px;
    left: 0px;
    top: 0px;
    /* font-family: "Sen"; */
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
  }