.slide {
  --background: #0E6C94;
}
.title1 {
  position: absolute;
  width: 277px;
  height: 41px;
  left: 2px;
  top: 75px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #7f2f86;
}
.title2 {
  
  position: absolute;
  width: 159px;
  height: 39px;
  left: 65px;
  top: 100px;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;  
  color: #FFFFFF;
}
.text {
  position: absolute;
  width: 268px;
  height: 14px;
  left: 5px;
  top: 420px;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.images {
  position: absolute;
}
.button {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 90px;
  top: 80px;
  --background: #7f2f86;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}